<div class="row containair col-12" style="justify-content: center;">
    <a class="card4" [routerLink]="['/profile/admin/utilisateur/']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/utilisateurs.png" alt="..." />
        <h3>Gérer les utilisateurs</h3>
        <p class="small">Creation , Mise a jour , Suppression <br> ex: user ...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card4" [routerLink]="['/profile/admin/param/groupe/list']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/groupe.png" alt="..." />
        <h3>Gérer les groupes des utilisateurs</h3>
        <p class="small">Creation , Mise a jour , Suppression <br> ex: annuaire - makhzoun - Intranet...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>


</div>