<div class="row containair col-12" style="justify-content: center;">
    <a class="card4" [routerLink]="['/profile/admin/fonctionnaire/']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/fonctionnaires.png" alt="..." />
        <h3>Gérer les fonctionnaires</h3>
        <p class="small">Creation , Mise a jour , Suppression... </p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card4" [routerLink]="['/profile/admin/param/fonction/list']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/fonction.png" alt="..." />
        <h3>Gérer les fonctions</h3>
        <p class="small">Creation , Mise a jour , Suppression <br> ex: directeur ...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card4" [routerLink]="['/profile/admin/param/grade/list']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/grade.png" alt="..." />
        <h3>Gérer les grades</h3>
        <p class="small">Creation , Mise a jour , Suppression <br> ex: Ingenieur générale...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card4" [routerLink]="['/profile/admin/param/classe/list']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/categorie.png" alt="..." />
        <h3>Gérer les classes</h3>
        <p class="small">Creation , Mise a jour , Suppression <br> ex: A1...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card4" [routerLink]="['/profile/admin/param/diplome/list']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/certificate.png" alt="..." />
        <h3>Gérer les diplomes</h3>
        <p class="small">Creation , Mise a jour , Suppression <br> ex: Mastère ...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

</div>