<div class="row containair col-12" style="justify-content: center;">
    <a class="card4" [routerLink]="['/profile/admin-structure/contrat/']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/contract.png" alt="..." />
        <h3>Gérer les Contrats</h3>
        <p class="small">Creation , Mise a jour , Suppression... </p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card4" [routerLink]="['/profile/admin-structure/param/type/list']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/type.png" alt="..." />
        <h3>Gérer les Catégories</h3>
        <p class="small">Creation , Mise a jour , Suppression <br> ex: traveaux ...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card4" [routerLink]="['/profile/admin-structure/param/nature/list']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/sous-type.png" alt="..." />
        <h3>Gérer les Natures des contrats</h3>
        <p class="small">Creation , Mise a jour , Suppression <br> ex: climatisation ...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card4" [routerLink]="['/profile/admin-structure/fournisseur']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/fournisseur.png" alt="..." />
        <h3>Gérer les Fournisseurs</h3>
        <p class="small">Creation , Mise a jour , Suppression <br> ex: Microsoft...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card4" [routerLink]="['/profile/admin-structure/intervenant']">

        <img class="img-fluid elm0u" src="'../../../../../../assets/images/dashboard/fonctionnaires.png" alt="..." />
        <h3>Gérer les Intervenants</h3>
        <p class="small">Creation , Mise a jour , Suppression ...</p>
        <div class="dimmer"></div>
        <div class="go-corner" href="#">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

</div>