<div class="row container">
    <!--gestion structures -->

    <a id="DivForHoverItem" class="card1" [routerLink]="['structure','select']">
        <div style="  display: flex;
      align-items: center;
      margin: 0 auto;
      border-bottom: 2px solid rgba(255,255,255, 0.1);">

            <img class="img-fluid elm0" src="'../../../../../assets/images/dashboard/structure.png" alt="..."
                style="height: 60px; width: 60px;" />
            <h3 class="elm1">Structures</h3>
            <p class="elm2" class="small" style="margin-left: 5px;" id="HiddenText">Gérer les structures
            </p>
        </div>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <!--end structures -->


    <!-- gestion fonctionnaires-->

    <a id="DivForHoverItemf" class="card1" [routerLink]="['fonctionnaire','select']" routerLinkActive="active">
        <div style="  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid rgba(255,255,255, 0.1);">

            <img class="img-fluid elm0f" src="'../../../../../assets/images/dashboard/fonctionnaire.png" alt="..."
                style="height: 60px; width: 60px;" />
            <h3 class="elm1f">Fonctionnaires</h3>
            <p class="elm2f" class="small" style="margin-left: 5px;" id="HiddenTextf">Gérer les fonctionnaires
            </p>
        </div>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <!-- end fonctionnaires-->

    <!-- gestion des contrats-->

    <a id="DivForHoverItemf" class="card1" [routerLink]="['contrat','select']" routerLinkActive="active">
        <div style="  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid rgba(255,255,255, 0.1);">

            <img class="img-fluid elm0f" src="'../../../../../assets/images/dashboard/contract.png" alt="..."
                style="height: 60px; width: 60px;" />
            <h3 class="elm1f">Contrats</h3>
            <p class="elm2f" class="small" style="margin-left: 5px;" id="HiddenTextf">Gérer les contrats , les types des
                contrats, les fournisseurs
            </p>
        </div>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <!-- end contrats-->

</div>