<div class="row container">
    <!--gestion structures -->

    <a id="DivForHoverItem" class="card1" [routerLink]="['structure','select']">
        <div style="  display: flex;
      align-items: center;
      margin: 0 auto;
      border-bottom: 2px solid rgba(255,255,255, 0.1);">

            <img class="img-fluid elm0" src="'../../../../../assets/images/dashboard/structure.png" alt="..."
                style="height: 60px; width: 60px;" />
            <h3 class="elm1">Structures</h3>
            <p class="elm2" class="small" style="margin-left: 5px;" id="HiddenText">Gérer les structures , les types et
                les sous types
            </p>
        </div>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <!--end structures -->


    <!-- gestion fonctionnaires-->

    <a id="DivForHoverItemf" class="card1" [routerLink]="['fonctionnaire','select']" routerLinkActive="active">
        <div style="  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid rgba(255,255,255, 0.1);">

            <img class="img-fluid elm0f" src="'../../../../../assets/images/dashboard/fonctionnaire.png" alt="..."
                style="height: 60px; width: 60px;" />
            <h3 class="elm1f">Fonctionnaires</h3>
            <p class="elm2f" class="small" style="margin-left: 5px;" id="HiddenTextf">Gérer les fonctionnaires , les
                fonctions, les crades et
                les categories
            </p>
        </div>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <!-- end fonctionnaires-->


    <!-- gestion utilisateurs-->

    <a id="DivForHoverItemu" class="card1" [routerLink]="['utilisateur','select']">
        <div
            style="display: flex; align-items: center; margin: 0 auto; border-bottom: 2px solid rgba(255,255,255, 0.1);">
            <img class="img-fluid elm0u" src="'../../../../../assets/images/dashboard/user.png" alt="..."
                style="height: 60px; width: 60px;" />
            <h3 class="elm1u">Utilisateurs</h3>
            <p class="elm2u" class="small" style="margin-left: 5px;" id="HiddenTextu">Gérer les utilisateurs , les
                groupes, les roles et
                les privilèges
            </p>
        </div>
        <div class="go-corner" href="javascript:void();">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <!-- end utilisateurs-->



</div>